{% extends 'base.html' %}

{% block text_center %}
<div class="pagetop-cntnt text-center">
    <h1>О нашей аптеке</h1>
    <p>Наша аптека предлагает качественные медицинские товары и услуги уже более 10 лет. Мы стремимся обеспечить вас всем необходимым для здоровой и активной жизни. Наши специалисты всегда готовы предложить профессиональную консультацию и помочь с выбором продуктов.</p>
</div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename ='img/3.webp') }}" title="Наша команда" alt="Наша команда" class="img-fluid">
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename ='img/5.webp') }}" title="Наши продукты" alt="Наши продукты" class="img-fluid">
        </div>
    </div>
    <h2>Почему клиенты выбирают нас?</h2>
    <p>Мы заботимся о том, чтобы предложить вам лучшие товары по конкурентоспособным ценам. Вот некоторые преимущества работы с нами:</p>
    <ul>
        <li>Широкий ассортимент качественных медицинских товаров и лекарств.</li>
        <li>Индивидуальный подход и персонализированное обслуживание каждого клиента.</li>
        <li>Профессиональные консультации и поддержка на всех этапах выбора и покупки.</li>
        <li>Удобное расположение и возможность заказа через интернет с доставкой на дом.</li>
    </ul>
</div>
{% endblock %}
