{% extends 'base.html' %}

<head>
	<meta charset="UTF-8">
	<title>Вход</title>
</head>
{% block body %}
<h2 class="text-center">Страница входа</h2><br>
<form method="POST" class="container">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <!-- {{ form.username.label(class="form-label") }} -->
        {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        <!-- {{ form.password.label(class="form-label") }} -->
        {{ form.password(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary btn-block") }}
</form>
{% endblock %}